@import './apps/books/BooksMain.css';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* *{box-sizing: border-box;} */
body {
    background-color: rgb(130, 183, 200);
    
    text-align: center;
}
nav{
    width: 100%;
    height: 45px;
    background-color: rgb(3, 3, 3);
}
ul {
    margin: auto;
    display: inline-block;
    list-style-type: none;
    margin-bottom: 10px;
    padding: 5px;
}

li {
    padding: 5px;
    color:  #333;
    display: inline-block;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.3em;
    text-align: center;
}

h1 {
    padding: 5px;
    color:  #333;
    display: block;
    font-family: 'Bebas Neue', cursive;
    font-size: 2.3em;
    text-align: center;

}

.note-preview{
    width: 300px;
    background-color: #fff;
    color: rgb(88, 80, 80);
    padding: 10px;
    margin:auto;
    border-radius: 10px;
    text-align: left;
    margin-left:10px;
    margin-right:10px;
    margin-top: 10px;
    display: inline-block;
}

.note-preview h4{
    color: rgb(88, 80, 80);
    font-size: 1em;
 
}



